<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <description></description>
    <display-name>InsertBookDataServlet</display-name>
    <servlet-name>InsertBookDataServlet</servlet-name>
    <servlet-class>cn.edu.nyist.bookmanv1.web.InsertBookDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertBookDataServlet</servlet-name>
    <url-pattern>/insertBookData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SeletBookTypeServlet</display-name>
    <servlet-name>SeletBookTypeServlet</servlet-name>
    <servlet-class>cn.edu.nyist.bookmanv1.web.SeletBookTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeletBookTypeServlet</servlet-name>
    <url-pattern>/seletBookType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectBookServlet</display-name>
    <servlet-name>SelectBookServlet</servlet-name>
    <servlet-class>cn.edu.nyist.bookmanv1.web.SelectBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectBookServlet</servlet-name>
    <url-pattern>/selectBook</url-pattern>
  </servlet-mapping>
</web-app>